# Dependências do Node.js
node_modules/
package-lock.json

# Arquivos de configuração e ambiente
.env
.env.local
.env.*.local

# Arquivos de build
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Relatórios de cobertura de testes
coverage/

# Cache e saída do TypeScript
*.tsbuildinfo

# Arquivos de sistema
Thumbs.db
